html {
    padding: 25px;
    background-color: DarkSeaGreen;
}

body {
    width: 80%;
    max-width: 800px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.5);
    background-color: White;
    color: Black;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

/* Inline code text */
code {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    background-color: Wheat;
    border-radius: 3px;
}

/* Code listings */
pre {
    overflow: auto;
}

blockquote {
    background-color: WhiteSmoke;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 5px solid DarkSeaGreen;
    border-radius: 3px;
}

img {
    max-width: 100%;
}

figure img {
    border-radius: 5px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
}

a.header {
	font-size: 400%;
    color: Black;
	text-decoration: none;
    text-shadow: 3px 3px 2px DarkSeaGreen;
}

a.header:hover {
    border-bottom: dotted 4px DarkGreen;
    text-shadow: 3px 3px 2px DarkGreen;
}

p.date {
    font-size: small;
}
