html {
    padding: 25px;
    background-color: DarkSeaGreen;
}

body {
    width: 80%;
    max-width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.5);
    background-color: White;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

code {
    display: inline-block;
    border-width: 1px;
    border-style: none;
    padding: 5px;
    background-color: Wheat;
    border-radius: 5px;
}
