html {
    padding: 20px; /* Padding between border of window to content. */
    background-color: DarkSeaGreen;
}

body {
    max-width: 800px;
    margin: 0 auto; /* Keep body centered */
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    color: Black;
}

div.contentbox {
    /* Padding between text and box. */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    /* Rounded border with shadow. */
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.5);

    background-color: White;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

/* Code text inline in normal text. */
code {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    background-color: FloralWhite;
    border-radius: 3px;
    font-family: Consolas, "Courier New", Courier, monospace;
    font-size: smaller;
}

/* Code listing block. */
pre {
    overflow: auto;
}

blockquote {
    background-color: WhiteSmoke;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 5px solid DarkSeaGreen;
    border-radius: 3px;
}

img {
    max-width: 100%;
}

figure img {
    border-radius: 5px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
}

a.header {
	font-size: 400%;
    color: Black;
	text-decoration: none;
    text-shadow: 3px 3px 2px DarkSeaGreen;
}

a.header:hover {
    border-bottom: dotted 4px DarkGreen;
    text-shadow: 3px 3px 2px DarkGreen;
}

a.header2 {
	font-size: 150%;
    color: Black;
	text-decoration: none;
    text-shadow: 2px 2px 1px DarkSeaGreen;
}

a.header2:hover {
    border-bottom: dotted 2px DarkGreen;
    text-shadow: 2px 2px 1px DarkGreen;
}

p.date {
    font-size: medium;
    padding-bottom: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
